[project]
	description = Misc docker files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmitry Teselkin (teselkin)
[access "refs/for/refs/*"]
	read = group user/Dmitry Teselkin (teselkin)
	push = group user/Dmitry Teselkin (teselkin)
	label-Code-Review = -2..+2 group user/Dmitry Teselkin (teselkin)
	label-Verified = -1..+1 group user/Dmitry Teselkin (teselkin)
	rebase = group user/Dmitry Teselkin (teselkin)
	removeReviewer = group user/Dmitry Teselkin (teselkin)
	submit = group user/Dmitry Teselkin (teselkin)
[access "refs/heads/*"]
	read = group user/Dmitry Teselkin (teselkin)
	create = group user/Dmitry Teselkin (teselkin)
	push = +force group user/Dmitry Teselkin (teselkin)
	pushMerge = group user/Dmitry Teselkin (teselkin)
[access "refs/tags/*"]
	push = +force group user/Dmitry Teselkin (teselkin)
	pushTag = group user/Dmitry Teselkin (teselkin)
	pushSignedTag = group user/Dmitry Teselkin (teselkin)
